<% 
    var base_class = "accordion";
    var modifiers = typeof flush !== 'undefined' && flush ? "accordion-flush" : "";

    var items = items
        .map(item => require('/blueprint/partials/components/accordion/item.ejs')(item))
        .join('');

    var classNames = base_class + " " + modifiers;
    var id = typeof id !== 'undefined' && id ? id : "accordionExample";
%>
<div class="<%= classNames %>" id="<%= id %>" <%- __attributes__ %>>
    <%- items %>    
</div>
<!-- dist:
/Users/lray/Sites/howdyfromatlanta/wp-content/themes/blueprint/partials//components/accordion/index.php
-->