<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Documentation | Webpack + Bootstrap</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Header -->
        <div class="container-fluid">
            <%- require("/partials/header.ejs")() %>
        </div>
        
        <!-- Docs Content -->
        <section>
            <div class="container-fluid">
                <div class="row">
                    
                    <!-- Left Sidebar Navigation -->
                    <%- require("/partials/docs/sidebar.ejs")() %>
                    
                    <!-- Main Content -->
                    <div class="col-12 col-lg-6 col-xl-8 py-7 py-lg-9 px-lg-7">
                        <!-- Page Title -->
                        <h1 class="mb-1">Terminology</h1>
                        <p class="fs-lg text-muted mb-5">Build vertically collapsing accordions in combination with our Collapse JavaScript plugin.  See full documentation
                             <a href="https://getbootstrap.com/docs/5.3/components/accordion/" target="_blank">https://getbootstrap.com/docs/5.3/components/accordion/</a>.</p>
                        
                        <p>Skeleton vs Blueprint</p>

                        <p>Carbon CMS vs whatever IBM ?</p>

                        <p>Partials Components Pattern</p>

                        <p>I historically peferred the term "partial" but then there are components, and elements, and patterns, some people
                            say blocks... I am sticking with partials as a general label.  It is a partial section of a page. 

                            Elements and Components get blurred, but I think an element is a component but a component is not always an
                          
                            https://developer.wordpress.org/themes/patterns/introduction-to-patterns/

                            I would also introduce the term "component stack" which is a collection of components that would be stacked in a column type context.

                            For example, https://getbootstrap.com/docs/5.3/examples/features/ there is icon, heading, text, and button.  This is a component stack.
                        </p>

                        <p>https://www.wix.com/studio/blog/wireframe-examples?utm_source=google&utm_medium=cpc&utm_campaign=20954991244^160638040249^search%20-%20us&experiment_id=^^689640761938^&gad_source=1&gad_campaignid=20954991244&gbraid=0AAAAADwEfwUvTNT4A93Muy5QeePH89Ung&gclid=Cj0KCQiA6sjKBhCSARIsAJvYcpOeRVEu4a_GydvQHQ5ilDuUrMQhYx-nydoT0OV04RCAQEZkmvXm7mgaAnD4EALw_wcB</p>

                        <p>Some Nothing Just None Aghhhh!!!</p>

                        <p>Wrapper vs Structure vs Container</p>

                    </div>

                    
                    <!-- Right "Jump to" Sidebar -->
                    <div class="col-12 col-lg-3 col-xl-2 d-none d-lg-block px-lg-0">
                        <div class="my-7 my-lg-9 px-lg-7 border-start-lg border-secondary">
                            
                            <!-- Heading -->
                            <h6 class="text-uppercase fw-bold">Jump to</h6>
                            
                            <!-- Links -->
                            <ul class="list mb-0">
                                <!-- <li class="list-item">
                                    <a class="list-link" href="#section1" data-scroll>Section 1</a>
                                </li> -->
                            </ul>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        
        <!-- Footer -->
        <div class="container mt-auto">
            <%- require("/partials/footer.ejs")() %>
        </div>
        
        
        <%- require("/partials/svg-icons.ejs")() %>
    </body>
</html>