<% 
    var content = typeof content !== "undefined" ? content : "";    
%>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-9">
            <%- content %>
        </div>
    </div>
</div>