<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Webpack + Bootstrap</title>
        <script src="https://cdn.jsdelivr.net/gh/gnat/css-scope-inline@main/script.js"></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="container">
            <%- require("/blueprint/partials/header.ejs")() %>
        </div>
        <section class="py-4">   
            <div class="container"> 
                <div class="row">
                    <div class="col-6 mx-auto">
                        <%- require("/blueprint/partials/components/card/bg-cover-blog.ejs")() %>
                    </div>
                </div>
            </div>
        </section>
        <%- require("/blueprint/partials/footer.ejs")() %>
        <%- require("/blueprint/partials/svg-icons.ejs")() %>
    </body>
</html>