<% 
    var image_url = typeof image_url === 'string' ? image_url : "https://howdyfromatlanta.com/wp-content/uploads/2026/04/everlasting.jpg"; 
%>
<section class="carbon-viewport-height" style="background-image: url(<%= image_url %>); 
background-size: cover; background-position: center;  
background-repeat: no-repeat;"
data-slot="component" data-components="image"></section>
