<% 
    var image_url = typeof image_url === 'string' ? image_url : "https://howdyfromatlanta.com/wp-content/uploads/2026/04/everlasting.jpg"; 
%>
<section style="background-image: url(<%= image_url %>); 
background-size: cover; background-position: center;  
background-repeat: no-repeat; height: 100vh;"
data-slot="component" data-slot-id="component-1" data-components="image"></section>