<% 
    var __attributes__ = '';
    var content = content !== 'undefined' ? content : '';
    if (typeof class_names !== 'undefined') {  
        __attributes__ += ' class="' + class_names + '"';
    }
%>
<form <%-__attributes__ %>><%- content %></form>