<% 
    var __attributes__ = Object.entries(attrs).map(([key, value]) => `${key}="${value}"`).join(" ");
    var fluid = fluid ? "-fluid" : "";
%>
<section <%- __attributes__ %>>
    <%- inner_wrap_start %>
    <%- content %>
    <%- inner_wrap_end %>
</section>