<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Webpack + Bootstrap</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        
        <%- require("/partials/header.ejs")() %>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <%- require("/partials/patterns/hero/index.ejs")({
                        image: "/docs/5.3/assets/brand/bootstrap-logo.svg"
                    }) %>
                </div>
            </div>
        </div>

        <%- require("/partials/footer.ejs")({
            border_top: true,
        }) %>
        <%- require("/partials/svg-icons.ejs")() %>
    </body>
</html>