<%- require('/blueprint/templates/default.ejs')({
    content: `<div class="container"><div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-lg-4 col-md-6" style="border: 1px solid red; height: 10em">asd</div>
        <div class="col-lg-4 col-md-6" style="border: 1px solid red; height: 4em">asd</div>
<div class="col-lg-4 col-md-6" style="border: 1px solid red; height: 8em">asd</div>
<div class="col-lg-4 col-md-6" style="border: 1px solid red; height: 7em">asd</div>
        </div></div>`
})
%>