<figure>
  <blockquote class="blockquote text-center">
    <div class="row justify-content-center mb-2">
        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
            <div class="img-fluid" style="color: #3F5D87;">Brand</div>
        </div>
    </div>
    <p>A well-known quote, contained in a blockquote element.</p>
  </blockquote>
  <figcaption class="blockquote-footer text-center">
    Someone famous in <cite title="Source Title">Source Title</cite>
  </figcaption>
</figure>