<div class="row g-3">
    <div class="col-12 col-md-4">
        <%- require("/blueprint/partials/components/card/img-title-text-btn.ejs")() %>
    </div>
    <div class="col-12 col-md-4">
        <%- require("/blueprint/partials/components/card/title-text-links.ejs")() %>
    </div>
    <div class="col-12 col-md-4">
        <%- require("/blueprint/partials/components/card/bg-img-title.ejs")() %>  
    </div>
</div>