<% 
    var content = typeof content !== "undefined" ? content : "";    
%>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-11 col-xl-10">
            <%- content %>
        </div>
    </div>
</div>