<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Webpack + Bootstrap</title>
        
    </head>
    <body class="d-flex flex-column min-vh-100">
        <%- require("/partials/header.ejs")() %>

        <%- require('/partials/patterns/two-col-quotes/index.ejs')({}) %>
        <%- require("/partials/footer.ejs")() %>
        <%- require("/partials/svg-icons.ejs")() %>
    </body>
</html>