<li class="nav-item mb-2">
    <a href="<%= href %>" class="nav-link p-0 text-body-secondary"><%- text %></a>
</li>
<!-- dist:
/Users/lray/Sites/howdyfromatlanta/wp-content/themes/blueprint/partials//footer/nav-item.php
-->