<form action="#" method="post" class="needs-validation">
    <div class="text-center mb-5">
        <h1 class="display-4 pb-1">Contact</h1>
        <div>
            <p class="lead">Please fill out the form below.</p>
            <p class="help-text">
                <em>All fields are required.</em>
            </p>
        </div>
    </div>
    <div class="row text-left">
        <div class="col ">
            <label class="form-label">First Name</label>
            <input class="form-control" type="text" required="1">
        </div>
        <div class="col ">
            <label class="form-label">Email Address</label>
            <input class="form-control" type="email" required="1">
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col ">
            <label class="form-label">Message</label>
            <textarea name="message" class="form-control" required="1"></textarea>
        </div>
    </div>
    <div class="row row">
        <div class="col ">
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary btn-lg" id="p0">Submit</button>
            </div>
        </div>
    </div>
</form>