require("/blueprint/partials/components/list/ul.ejs")({
    list_items: [
        {
           content: '<a href="/blog/2026/hello-world/">Hello, World!</a>'
        }
    ]
})

lockign into: 

list_tems  content, attrs for item attributes... class_names always pplies to outermost wrap element.

