<% 
    var list = list || ``;
%>
<nav aria-label="breadcrumb" class="">
    <%- list %>
</nav>
<style>
    me ol {
        font-size: .85em;
    }
</style>
<!-- dist:
/Users/lray/Sites/howdyfromatlanta/wp-content/themes/blueprint/partials//components/breadcrumbs/index.php
-->