<% 
    var page_label = page_label !== 'undefined' ? page_label : '';
%>
<li class="breadcrumb-item active" aria-current="page"><%- page_label %></li>
<!-- dist:
/Users/lray/Sites/howdyfromatlanta/wp-content/themes/blueprint/partials//components/breadcrumbs/list-item-active.php
-->