<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Webpack + Bootstrap</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="container">
            <%- require("/blueprint/partials/header.ejs")() %>
        </div>
        <main>
            <%- require("/blueprint/partials/patterns/price-guide/index.ejs")({
                plans: [
                    {
                        badge_text: "Freemium",
                        badge_type: "warning",
                        price: "0",
                        price_suffix: "mo",
                        button_text: "Sign up for free",
                        button_type: "outline-primary",
                        features: [
                            { icon_name: "check", text: "10 users included" },
                            { icon_name: "check", text: "2 GB of storage" },
                            { icon_name: "check", text: "Email support" },
                        ],
                    },
                    {
                        badge_text: "Pro",
                        badge_type: "primary",
                        price: "48",
                        price_suffix: "mo",
                        button_text: "Take advantage",
                        button_type: "primary",
                        features: [
                            { icon_name: "check", text: "10 users included" },
                            { icon_name: "check", text: "2 GB of storage" },
                            { icon_name: "check", text: "Email support" },
                        ],
                    },
                    {
                        badge_text: "Standard",
                        badge_type: "success",
                        price: "23",
                        price_suffix: "mo",
                        button_text: "Get started",
                        button_type: "outline-primary",
                        features: [
                            { icon_name: "check", text: "10 users included" },
                            { icon_name: "check", text: "2 GB of storage" },
                            { icon_name: "check", text: "Email support" },
                        ],
                    },
                ],
            }) %>
        </main>
        <div class="container mt-auto">
            <%- require("/blueprint/partials/footer.ejs")() %>
        </div>
        <%- require("/blueprint/partials/svg-icons.ejs")() %>
    </body>
</html>