<%

var content = require("/blueprint/partials/components/wrap/section-one-col.ejs")({
        utils,
    content: require("/blueprint/partials/components/image/index.ejs")({
        attrs: {
            src: "/img/blueprint/covers/get-in-loser.jpg",
            alt: "Hero Image",
            class: "img-fluid",
        }
    }),
    class_names: "pb-3"
}) 
+ require("/blueprint/partials/wraps/section-one-col.ejs")({
    col_1: {
        content: "sample"
    },
})
+ require("/blueprint/partials/components/wrap/section-one-col.ejs")({
    class_names: "text-center w-50 mx-auto",
    content: require("/blueprint/partials/patterns/page-header/index.ejs")({
        heading: "Tired of the grind?",
        text: "So was I",
        
    })
}) 
    + require("/blueprint/partials/wraps/section-one-col-md-6-center.ejs")({
        class_names: "",
        content: `<p>
I didn’t want another stack.
I wanted a system I could build in for the rest of my career.
</p>

<p>
Blueprint is the result.  A durable content managment framework —
grounded in applied theory,
built on proven tools,
and designed for the long game.
</p>

`})

%>
<!-- call template -->
<%- require("/blueprint/templates/default.ejs")({
    head: {
        title: "Blueprint",
    },
    content,
})
%>