<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Webpack + Bootstrap</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="container">
            <%- require("/partials/header.ejs")() %>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                </div>
            </div>
        </div>
        <div class="container mt-auto">
            <%- require("/partials/footer.ejs")() %>
        </div>
        <%- require("/partials/svg-icons.ejs")() %>
    </body>
</html>