<% 
    var wrap_start = typeof wrap_start !== "undefined" ? wrap_start : "";   
    var wrap_end = typeof wrap_end !== "undefined" ? wrap_end : "";
    var content = typeof content !== "undefined" ? content : "";    
%>
<div class="container-fluid">
    <%- content %>
</div>