<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Webpack + Bootstrap</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <%- require("/partials/header.ejs")() %>
        <section><div class="container">
            <div class="row">
                <div class="col-6 mx-auto text-center mb-2">
                    <h2>Out and About</h2>
                    <p class="opacity-75">A masonry layout that flattens in mobile.</p>
                </div>
            </div>
            <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 819.406px;"><div class="col-12 col-md-4 mb-4" style="position: absolute; left: 0%; top: 0px;"><img class="img-fluid rounded" src="http://localhost/blueprint/wp-content/uploads/2026/01/DSCF6359-1.jpg" alt=""></div><div class="col-12 col-md-4 mb-4" style="position: absolute; left: 33.3333%; top: 0px;"><img class="img-fluid rounded" src="http://localhost/blueprint/wp-content/uploads/2026/01/DSCF4124_web-rotated.jpg" alt=""></div><div class="col-12 col-md-4 mb-4" style="position: absolute; left: 66.6667%; top: 0px;"><img class="img-fluid rounded" src="http://localhost/blueprint/wp-content/uploads/2026/01/DSCF4196_web.jpg" alt=""></div><div class="col-12 col-md-4 mb-4" style="position: absolute; left: 66.6667%; top: 261.328px;"><img class="img-fluid rounded" src="http://localhost/blueprint/wp-content/uploads/2026/01/DSCF3297_web.jpg" alt=""></div><div class="col-12 col-md-4 mb-4" style="position: absolute; left: 0%; top: 261.406px;"><img class="img-fluid rounded" src="http://localhost/blueprint/wp-content/uploads/2026/01/DSCF1067_web-rotated.jpg" alt=""></div><div class="col-12 col-md-4 mb-4" style="position: absolute; left: 66.6667%; top: 522.656px;"><img class="img-fluid rounded" src="http://localhost/blueprint/wp-content/uploads/2026/01/DSCF0999_web.jpg" alt=""></div><div class="col-12 col-md-4 mb-4" style="position: absolute; left: 33.3333%; top: 558px;"><img class="img-fluid rounded" src="http://localhost/blueprint/wp-content/uploads/2026/01/DSCF2539_web.jpg" alt=""></div></div>
            </div></section>
            
            <div class="card mb-3" id="comment-123">
                <div class="card-body">
                  <div class="d-flex">
                    <!-- Avatar -->
                    <img src="https://placehold.co/48x48" class="rounded-circle" alt="">
              
                    <div class="ms-3 flex-grow-1">
                      <!-- Name + date (date is the permalink) -->
                      <h6 class="mb-1">
                        Lightnin’ Ray
                        <small class="text-muted fw-normal">
                          ·
                          <a href="https://example.com/my-post/#comment-123"
                             class="text-muted text-decoration-none">
                            Jan 30, 2026
                          </a>
                        </small>
                      </h6>
              
                      <!-- Comment text -->
                      <p class="mb-2">
                        Blueprint comments, built for the long game.
                      </p>
              
                      <!-- Actions -->
                      <div class="d-flex align-items-center gap-3 small">
                        <a href="#" class="link-secondary text-decoration-none">Reply</a>
                        <a href="#" class="link-secondary text-decoration-none">Edit</a>
                        <a href="https://example.com/my-post/#comment-123"
                           class="link-secondary text-decoration-none">Link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              

        <%- require('/partials/patterns/two-col-quotes/index.ejs')({}) %>
        <%- require("/partials/footer.ejs")() %>
        <%- require("/partials/svg-icons.ejs")() %>
    </body>
</html>