<% 
    // var src = '/img/carousel/1.jpg';

    const { Kvm } = require("/blueprint/js/lray138fp.min.js");

    var data = Kvm.of(locals);
    var alt = data.tryProp('alt').getOrElse('');
    
    var item_class = 'carousel-item';
    
    if(active) {
        item_class += ' active';
    }
%>
<div class="<%= item_class %>">
    <img class="d-block w-100" src="<%= src %>" alt="<%= alt %>">
</div>
<!-- dist:
/Users/lray/Sites/howdyfromatlanta/wp-content/themes/blueprint/partials//components/carousel/item.php
-->