<%
    
    var icon = `<i class="bi bi-${icon_name} text-dark"></i>`;
    var text = typeof text !== "undefined" ? text : "";
    var icon_wrap_class_names = typeof icon_wrap_class_names !== "undefined" 
        ? icon_wrap_class_names 
        : ""; //  badge-rounded-circle text-bg-success 
%>
<div class="d-flex align-items-center">
    <span class="badge py-2 px-0 px-0 <%= icon_wrap_class_names %>" style="font-size:1.2em; margin-right: .5rem;"><%- icon %></span>
    <%- text %>
</div>