<%- require("/blueprint/templates/default.ejs")({
    head: {
        title: "Blog",
    },
    content: require("/blueprint/partials/wraps/section-one-col.ejs")({
            attrs: {
                section: {
                    class_add: "mt-5",
                }
            },
            content: require("/blueprint/partials/patterns/page-header/index.ejs")({
                heading: "Blog",
                text: "A collection of thoughts and musings."
            })
<<<<<<< HEAD
            + 
            require("/blueprint/partials/components/heading/index.ejs")({
                class_name: "test",
                level: 3,
                content: '2026'
            })
=======
>>>>>>> 8fbfbcd3c73b581eab55b9bbcae08f41c3048f9f
            +
            require("/blueprint/partials/components/list/ul.ejs")({
                list_items: [
                    {
                        class_names: "test-again",
<<<<<<< HEAD
                        content: `<a href='${base_url}/blog/2026/introducing-blueprint/'>Introducing Blueprint</a>`
=======
                        content: "test",
>>>>>>> 8fbfbcd3c73b581eab55b9bbcae08f41c3048f9f
                    }
                ]
            })
        }) 
}) %>