<% 
    var card_attrs = typeof card_attrs != 'undefined' ? card_attrs : '';
    var content = typeof content != 'undefined' ? content : '';
%>
<div class="card <%- card_attrs %>">
    <%- content %>
</div>
<!-- dist:
/Users/lray/Sites/howdyfromatlanta/wp-content/themes/blueprint/partials//components/card/index.php
-->