<%
    getAttributes = typeof utils !== "undefined" && typeof utils.getAttributes !== "undefined" 
        ? utils.getAttributes 
        : function(x) { return x; };

    __attributes__ = getAttributes(locals);
%>
<li<%- __attributes__ %>><%- content %></li>