<%
    handleLocals = typeof utils !== "undefined" && typeof utils.handleLocals !== "undefined" 
        ? utils.handleLocals 
        : function(x) { return x; };

    __attributes__ = handleLocals(locals);
%>
<li<%- __attributes__ %>><%- content %></li>