<%  
    var list_items = list_items || "";
%>
<%- require('/blueprint/partials/components/list/index.ejs')({
    list_type: 'ul',
    list_items: [
        `<a href="/blog/2026/make-it-real/">Make it real</a>`,
    ]
}) %>