<%  
    var list_items = list_items || [];
%>
<%- require('/blueprint/partials/components/list/index.ejs')({
    list_type: 'ul',
<<<<<<< HEAD
    list_items: [
        `<a href="/blog/2026/the-long-game/">The Long Game</a>`,
    ]
=======
    list_items,
>>>>>>> dafd2e72c5aaa405b84b99e6fa51ad5174a2abe8
}) %>