<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Features | Blueprint</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        
        <%- require("/blueprint/partials/header.ejs")({
            base_url: base_url
        }) %>

        <%- require("/blueprint/partials/wraps/section-one-col.ejs")({
            attrs: {
                section: {
                    class_add: "this is a test",
                }
            },
            content: `<h1 class="display-3">Features</h1>
                <p>Blueprint was conceptualized as the ultimate starter package for building a website.  We currenty use Bootstrap as our HTML framework, but the
                    idea was that the components and patterns are framework agnostic.</p>
            `
        }) %>

        <%- require("/blueprint/partials/footer.ejs")({
            border_top: true,
        }) %>
        <%- require("/blueprint/partials/svg-icons.ejs")() %>

    </body>
</html>