<% 
    var heading = heading || "";
    var lead = lead || "";

    if(lead !== "") {
        lead = `<p class="lead mb-4">${lead}</p>`;
    }

    var content = [
        lead,
        content || "",
    ].join("");
%>
<div class="px-3 pt-4 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis mb-3"><%- heading %></h1>
    <div class="col-lg-6 mx-auto">
        <%- content %>
    </div>
</div>