<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Webpack + Bootstrap</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="container">
            <%- require("/blueprint/partials/header.ejs")() %>
        </div>
        <div class="container bg-dark py-4 px-4">
            <div class="row">
                <div class="col-6">
                    <%- require("/blueprint/partials/components/input/search-no-label.ejs")() %>
                    <a class="btn btn-primary" data-bigpicture="{&quot;ytSrc&quot;: &quot;9I-Y6VQ6tyI&quot;}" >Open Big Picture</a>
                </div>
            </div>
        </div>
        <%- require("/blueprint/partials/footer.ejs")() %>
        <%- require("/blueprint/partials/svg-icons.ejs")() %>
    </body>
</html>