<% 
    var card_attrs = typeof card_attrs != 'undefined' ? card_attrs : '';
    var content = typeof content != 'undefined' ? content : '';
%>
<div class="card <%- card_attrs %>">
    <%- content %>
</div>

