<% 
    var content = "";
    // d-flex align-items-start
%>
<div class="feature">
    <%- content %>
</div>
<!-- dist:
/Users/lray/Sites/howdyfromatlanta/wp-content/themes/blueprint/partials//components/icon-feature/index.php
-->