<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Webpack + Bootstrap</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="container">
            <%- require("/partials/header.ejs")() %>
        </div>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="d-flex flex-column flex-shrink-0 p-3" style="">
                            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                                <span class="fs-4">Site</span>
                            </a>
                            <hr>
                            <ul class="nav flex-column mb-auto list-unstyled">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active" aria-current="page">
                                        Home </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        Dashboard </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        Orders </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        Products </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link">
                                        Customers </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        asdf
                    </div>
                </div>
            </div>
        </section>
        <%- require("/partials/footer.ejs")() %>
        <%- require("/partials/svg-icons.ejs")() %>
    </body>
</html>

