<%
    var code_example = code_example || '';
    var code_example_src = code_example_src || '';
    var escapeHtml = require('/blueprint/utils/escape-html');
    code_example_src = escapeHtml(code_example);
%>
<!-- Tabs Navigation -->
<ul class="nav nav-tabs mb-0" id="accordionTabs" role="tablist">
    
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="html-tab" data-bs-toggle="tab" data-bs-target="#html" type="button" role="tab" aria-controls="html" aria-selected="false">HTML</button>
    </li>
</ul>
<!-- Tab Content -->
<div class="tab-content border-start border-end border-bottom rounded-bottom rounded-top-end p-3" id="accordionTabContent">
    <!-- Preview Tab -->
    <div class="tab-pane fade show active" id="preview" role="tabpanel" aria-labelledby="preview-tab">
        <div class="bd-example m-0 border-0">
            <!-- code start -->
            <%- code_example %>
            <!-- code end -->
        </div>
    </div>
    <!-- HTML Tab -->
    <div class="tab-pane fade position-relative" id="html" role="tabpanel" aria-labelledby="html-tab">
        <pre class="mb-0 bg-light p-3 rounded"><code class="language-html" id="htmlContent"><%- code_example_src %></code></pre>
    </div>
</div>