.pin-top {
    position: absolute; top: 0; left: 0; width: 100%; z-index: 100; z-index: 1030;
}

.admin-bar .pin-top {
    position: absolute; top: 32px; left: 0; width: 100%; z-index: 100; z-index: 1030;
}

.form-control {
    padding: 0.5rem 1.25rem;
}

.form-label {
    margin-bottom: 0.5rem;
}

// i don't know why but I love this selector
.social-icon-links a i {
    font-size: 23px;
}

header.text-light ul li a {
    color: #ededed!important;
}

header.text-dark ul li a {
    color: #2a2a2a!important;
}

.vw-md-50 {
    width: 50vw !important;
}

.d-md-none {
    display: none !important;
}

.menu.flex-clear .item-name-and-price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.5rem;
}

.menu.flex-dotted .item-name-and-price {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.menu.flex-dotted .item-name {
    order: 0;
}

.menu.flex-dotted .item-price {
    order: 2;
}

.menu.flex-dotted .item-name-and-price::after {
    content: "";
    order: 1;
    flex: 1 1 auto;
    height: 1em;
    align-self: baseline;
    opacity: 0.35;
    border-bottom: 0;
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: 6px 2px;
    background-repeat: repeat-x;
    background-position: left bottom;
}

.menu:not(.flex-clear):not(.flex-dotted) .item-price {
    margin-left: 1.25rem;
}

.menu {
    padding-top: 1.5rem;
}

.menu-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.menu-inner-section {
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .menu-inner-section {
        flex-basis: calc(50% - 0.75rem);
    }
}

@media (min-width: 992px) {
    .menu-inner-section {
        flex-basis: calc(33.333% - 1rem);
    }
}

@import 'flickity/dist/flickity.min.css';
// @import 'flickity-fade/flickity-fade.css';

//
// flickity.scss
// Plugin overrides
//

// Controls

.flickity-prev-next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $input-height;
    height: $input-height;
    background-color: var(--#{$prefix}primary);
    
    color: var(--#{$prefix}white);
  
    &::before, &::after {
      font-family: "Feather";
    }
  
    &:hover, &:focus {
      background-color: var(--#{$prefix}primary);
     
    }
  }
  
  .flickity-prev-next-button.previous {
    left: 0;
    transform: translate(calc(-50% + #{$grid-gutter-width * .25}), -50%);
  
    @include media-breakpoint-up(lg) {
      transform: translate(-50%, -50%);
    }
  
    &::before {
      content: "\e910";
    }
  }
  
  .flickity-prev-next-button.next {
    right: 0;
    transform: translate(calc(50% - #{$grid-gutter-width * .25}), -50%);
  
    @include media-breakpoint-up(lg) {
      transform: translate(50%, -50%);
    }
  
    &::before {
      content: "\e912";
    }
  }
  
  .flickity-button-icon {
    display: none;
  }
  
  // Button white
  
  .flickity-button-white .flickity-prev-next-button {
    background-color: var(--#{$prefix}white);
    color: var(--#{$prefix}primary);
  }
  
  // Button bottom
  
  .flickity-button-bottom .flickity-prev-next-button {
    top: auto;
    bottom: 1.5rem;
    transform: none;
  }
  
  .flickity-button-bottom .flickity-prev-next-button.previous {
    left: auto;
    right: 6.375rem;
  }
  
  .flickity-button-bottom .flickity-prev-next-button.next {
    left: auto;
    right: 2.5rem;
  }
  
  
  // Button inset
  
  .flickity-button-inset .flickity-prev-next-button {
    transform: translateY(-50%);
  }
  
  .flickity-button-inset .flickity-prev-next-button.previous {
    left: 1.5rem;
  }
  
  .flickity-button-inset .flickity-prev-next-button.next {
    right: 1.5rem;
  }
  
  
  // Viewport
  
  .flickity-viewport-visible .flickity-viewport {
    overflow: visible;
  }
  
  
  // Adaptive height
  
  [data-flickity*='"adaptiveHeight": true'] .flickity-viewport {
    transition: all .5s ease; // Make the transition match the rough duration of flicking between items
  }
  
  
  // Fixing .col gutters because Bootstrap sets it to 0 if they are not direct children of a .row
  
  .flickity-slider > [class*="col"] {
    padding-left: $grid-gutter-width * .5;
    padding-right: $grid-gutter-width * .5;
  }



.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline-block;
}

.htmx-request .label {
  opacity: 0.6;
}



////

/* ---------- MOBILE (default) = list-group ---------- */

ul.nav.list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  align-items: center;
}

/* Make nav-items behave like list-group-items */
ul.nav.list-group > .nav-item {
  width: 100%;
//   border-bottom: 1px solid var(--bs-list-group-border-color);
}

/* Flush = no outer border, only dividers */
ul.nav.list-group.list-group-flush > .nav-item:last-child {
  border-bottom: 0;
}

ul.nav.list-group > .nav-item > .nav-link {
  display: block;
  width: 100%;
  padding: var(--bs-list-group-item-padding-y)
           var(--bs-list-group-item-padding-x);
}

/* Smaller feel for list-group-sm */
ul.nav.list-group.list-group-sm > .nav-item > .nav-link {
  padding: .375rem .75rem;
}

/* ---------- DESKTOP (md+) = classic nav ---------- */

@media (min-width: 768px) {

  ul.nav.list-group {
    flex-direction: row;
    width: auto;
    align-items: center;
  }

  ul.nav.list-group > .nav-item {
    width: auto;
    border: 0;
  }

  ul.nav.list-group > .nav-item > .nav-link {
    width: auto;
    padding: .5rem .75rem;
  }

}

