//
// User Variables
// Use this file to override Bootstrap and theme variables
// 
// This file is imported FIRST, so your values will override
// theme defaults. Perfect for customizing colors, spacing, etc.
//
// Example:
// $primary: #ff0000;
// $body-bg: #f6f9fc;
//


// src/scss/_blueprint-theme.scss
// src/scss/_blueprint-theme.scss

$primary: #0d68f1;