.pin-top {
    position: absolute; top: 0; left: 0; width: 100%; z-index: 100; z-index: 1030;
}

.admin-bar .pin-top {
    position: absolute; top: 32px; left: 0; width: 100%; z-index: 100; z-index: 1030;
}

.form-control {
    padding: 0.5rem 1.25rem;
}

.form-label {
    margin-bottom: 0.5rem;
}

// i don't know why but I love this selector
.social-icon-links a i {
    font-size: 23px;
}

header.text-light ul li a {
    color: #ededed!important;
}

header.text-dark ul li a {
    color: #2a2a2a!important;
}

.vw-md-50 {
    width: 50vw !important;
}