<%
    var text = typeof text !== "undefined" ? text : "";
    var attrs = typeof attrs !== "undefined" ? attrs : {};
    var __attributes__ = Object.entries(attrs).map(([key, value]) => `${key}="${value}"`).join(" ");
%>
<p <%- __attributes__ %>><%- text %></p>