<% 
    var wrap_start = typeof wrap_start !== "undefined" ? wrap_start : "";   
    var wrap_end = typeof wrap_end !== "undefined" ? wrap_end : "";
    var col_1_content = typeof cols[0].content !== "undefined" ? cols[0].content : "";    
    var col_2_content = typeof cols[1].content !== "undefined" ? cols[1].content : "";    
%>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <%- col_1_content %>
            </div>
            <div class="col-12 col-md-6">
                <%- col_2_content %>
            </div>
        </div>
    </div>
</section>