<% 
    const { Kvm } = require("/blueprint/js/lray138fp.min.js");
    const L = Kvm.of(locals);

    var content = L.tryPath('content').getOrElse('');

    var section_class_names = typeof wrap_attrs !== "undefined" && typeof wrap_attrs.section !== "undefined" && typeof wrap_attrs.section.class_names !== "undefined"
        ? wrap_attrs.section.class_names : "";

    var __section_attributes__ = section_class_names !== "" ? ` class="${section_class_names}"` : "";

    var col_1_class_add = typeof wrap_attrs !== "undefined" && typeof wrap_attrs.col_1 !== "undefined" && typeof wrap_attrs.col_1.class_add !== "undefined"
        ? wrap_attrs.col_1.class_add : "";

%>
<section <%- __section_attributes__ %>>
    <div class="container">
        <div class="row">
            <div class="col-12 <%= col_1_class_add %>">
                <%- content %>
            </div>
        </div>
    </div>
</section>