<% 
    var attrs = `class="soon"`;
    var __attributes__ = typeof attrs !== 'undefined' ? attrs : '';
    var content = typeof content !== 'undefined' ? content : '';
%>
<button <%- __attributes__ %>><%- content %></button>